In [149]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

/var/folders/rg/vtjd9wkj6cq1lck908ywby500000gn/T/ipykernel_3271/3777615979.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [150]:
import numpy as np
import pandas as pd
import networkx as nx

## Project 1. Due by Thursday, February 13. ##

For this project we will use the **London Underground Data**.

1. Compute a Minimum Spanning Tree using, as costs, the straight-line distances of the provided connections, i.e., length of connections computed using the latitude and longitude of each node.

2. Repeat this computation, now using the length of connections provided in the data.

3. Using version 2 of the lengths, we will investigate the robustness of the computation.  We conduct 10000 experiments.  In each experiment the length of each connection is adjusted as follows:
        modified length = max{ (true length)*(1 + Gaussian(0,0.3)), 0.01*(true length) }
i.e., we modify the length randomly using a zero-norm Gaussian distribution with standard deviation 0.3 and correct if the length becomes too small.

  Plot the distribution of minimum spanning tree lengths, as well as the Value-At-Risk at level 5%.

4. Returning to the lengths as in version 2, conduct a delete-and-repair analysis.  That is to say, for each link L of the minimum spanning tree, we

    (a) Remove L from the network.
    
    (b) Compute a minimum spanning tree for the network with L (and only L) removed.  

  Plot the resulting values for the length of the minimum spanning tree.

Note: we only remove one link at a time.

### IMPORTANT ###
1. Please do not submit data.  If you need to generate additional data, submit the code for that as well.
2. By the due date for the project, please make an appointment with the TAs/CAs.

### Loading Data
Each csv file was loaded into a Pandas dataframe

In [151]:
# Load data into Pandas Dataframes
connections = pd.read_csv("./London Underground/connections.csv", index_col=0)
lines = pd.read_csv("./London Underground/lines.csv")
stations = pd.read_csv("./London Underground/stations.csv")

In [152]:
connections

     station1  station2  line  time  distance(miles)
0          11       163     1   1.0         0.257855
1          11       212     1   2.0         0.454449
2          49        87     1   1.0         0.111148
3          49       197     1   2.0         0.426744
4          82       163     1   2.0         0.273407
..        ...       ...   ...   ...              ...
428       326       327    14   NaN         6.740020
429       327       328    14   NaN         4.810656
430       319       330    14   NaN         2.606461
431       330       331    14   NaN              NaN
432       330       333    14   NaN              NaN

[433 rows x 5 columns]

In [153]:
stations.rename(columns={"Unnamed: 0": "station"}, inplace=True)
stations

,station,latitude,longitude,name,zone,total_lines,rail
0,1,51.502800,-0.280100,Acton Town,3.0,2.0,0.0
1,2,51.514300,-0.075500,Aldgate,1.0,2.0,0.0
2,3,51.515400,-0.072600,Aldgate East,1.0,2.0,0.0
3,4,51.510700,-0.013000,All Saints,2.0,1.0,0.0
4,5,51.540700,-0.299700,Alperton,4.0,1.0,0.0
...,...,...,...,...,...,...,...
327,329,51.503095,-0.420452,Hayes & Harlington,5,NaN,NaN
328,330,51.471318,-0.453178,Heathrow Terminals 2 & 3,6,NaN,NaN
329,331,NaN,NaN,Heathrow Terminals 4,NaN,NaN,NaN
330,332,51.471318,-0.453178,Heathrow Terminals 2 & 3,6,NaN,NaN
331,333,NaN,NaN,Heathrow Terminals 5,NaN,NaN,NaN

In [154]:
# Merge connections and stations into one dataframe

stations1 = stations.rename(columns={
    "station": "station1",
    "latitude": "st1_latitude",
    "longitude": "st1_longitude",
    "name": "st1_station_name",
    "zone": "st1_zone",
    "total_lines": "st1_total_lines",
    "rail": "st1_rail"
})
stations2 = stations.rename(columns={
    "station": "station2",
    "latitude": "st2_latitude",
    "longitude": "st2_longitude",
    "name": "st2_station_name",
    "zone": "st2_zone",
    "total_lines": "st2_total_lines",
    "rail": "st2_rail"
})

df = connections.merge(stations1, on="station1", how="left")
df = df.merge(stations2, on="station2",how="left")

df

,station1,station2,line,time,distance(miles),st1_latitude,st1_longitude,st1_station_name,st1_zone,st1_total_lines,st1_rail,st2_latitude,st2_longitude,st2_station_name,st2_zone,st2_total_lines,st2_rail
0,11,163,1,1.0,0.257855,51.522600,-0.157100,Baker Street,1.0,5.0,0.0,51.522500,-0.163100,Marylebone,1.0,1.0,1.0
1,11,212,1,2.0,0.454449,51.522600,-0.157100,Baker Street,1.0,5.0,0.0,51.523400,-0.146600,Regent's Park,1.0,1.0,0.0
2,49,87,1,1.0,0.111148,51.508000,-0.124700,Charing Cross,1.0,2.0,1.0,51.507400,-0.122300,Embankment,1.0,4.0,0.0
3,49,197,1,2.0,0.426744,51.508000,-0.124700,Charing Cross,1.0,2.0,1.0,51.509800,-0.134200,Picadilly Circus,1.0,2.0,0.0
4,82,163,1,2.0,0.273407,51.519900,-0.167900,Edgware Road (B),1.0,1.0,0.0,51.522500,-0.163100,Marylebone,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,326,327,14,NaN,6.740020,51.518538,-0.722533,Maidenhead,Outside,NaN,NaN,51.475462,-0.863242,Twyford,Outside,NaN,NaN
429,327,328,14,NaN,4.810656,51.475462,-0.863242,Twyford,Outside,NaN,NaN,51.458688,-0.971795,Reading,Outside,NaN,NaN
430,319,330,14,NaN,2.606461,51.503095,-0.420452,Hayes & Harlington,5,NaN,NaN,51.471318,-0.453178,Heathrow Terminals 2 & 3,6,NaN,NaN
431,330,331,14,NaN,NaN,51.471318,-0.453178,Heathrow Terminals 2 & 3,6,NaN,NaN,NaN,NaN,Heathrow Terminals 4,NaN,NaN,NaN
432,330,333,14,NaN,NaN,51.471318,-0.453178,Heathrow Terminals 2 & 3,6,NaN,NaN,NaN,NaN,Heathrow Terminals 5,NaN,NaN,NaN

In [155]:
df = df.dropna()

### 1. Compute a Minimum Spanning Tree using, as costs, the straight-line distances of the provided connections, i.e., length of connections computed using the latitude and longitude of each node.

In [156]:
# A function to calculate the straight-line distances of the provided connections
def straightLineDistance(row):
    lat1, long1 = row["st1_latitude"], row["st1_longitude"]
    lat2, long2 = row["st2_latitude"], row["st2_latitude"]
    distance = np.sqrt((lat2-lat1)**2 + (long2-long1)**2)
    return distance

In [157]:
df["straight_line_distance"] = df.apply(straightLineDistance, axis=1)
df

/var/folders/rg/vtjd9wkj6cq1lck908ywby500000gn/T/ipykernel_3271/1779691174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["straight_line_distance"] = df.apply(straightLineDistance, axis=1)

,station1,station2,line,time,distance(miles),st1_latitude,st1_longitude,st1_station_name,st1_zone,st1_total_lines,st1_rail,st2_latitude,st2_longitude,st2_station_name,st2_zone,st2_total_lines,st2_rail,straight_line_distance
0,11,163,1,1.0,0.257855,51.5226,-0.1571,Baker Street,1.0,5.0,0.0,51.5225,-0.1631,Marylebone,1.0,1.0,1.0,51.679600
1,11,212,1,2.0,0.454449,51.5226,-0.1571,Baker Street,1.0,5.0,0.0,51.5234,-0.1466,Regent's Park,1.0,1.0,0.0,51.680500
2,49,87,1,1.0,0.111148,51.5080,-0.1247,Charing Cross,1.0,2.0,1.0,51.5074,-0.1223,Embankment,1.0,4.0,0.0,51.632100
3,49,197,1,2.0,0.426744,51.5080,-0.1247,Charing Cross,1.0,2.0,1.0,51.5098,-0.1342,Picadilly Circus,1.0,2.0,0.0,51.634500
4,82,163,1,2.0,0.273407,51.5199,-0.1679,Edgware Road (B),1.0,1.0,0.0,51.5225,-0.1631,Marylebone,1.0,1.0,1.0,51.690400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,198,272,11,1.0,0.412421,51.4893,-0.1334,Pimlico,1.0,1.0,0.0,51.4861,-0.1253,Vauxhall,1.5,1.0,1.0,51.619500
402,198,273,11,3.0,0.695057,51.4893,-0.1334,Pimlico,1.0,1.0,0.0,51.4965,-0.1447,Victoria,1.0,3.0,1.0,51.629901
403,224,260,11,3.0,0.783457,51.5822,-0.0749,Seven Sisters,3.0,1.0,1.0,51.5882,-0.0594,Tottenham Hale,3.0,1.0,1.0,51.663100
404,245,272,11,3.0,0.957943,51.4723,-0.1230,Stockwell,2.0,2.0,0.0,51.4861,-0.1253,Vauxhall,1.5,1.0,1.0,51.609102
405,13,279,12,4.0,1.291628,51.5133,-0.0886,Bank,1.0,4.0,0.0,51.5036,-0.1143,Waterloo,1.0,4.0,1.0,51.592201

In [158]:
df_kruskal = df[["station1", "station2", "straight_line_distance"]].copy()
df_kruskal

     station1  station2  straight_line_distance
0          11       163               51.679600
1          11       212               51.680500
2          49        87               51.632100
3          49       197               51.634500
4          82       163               51.690400
..        ...       ...                     ...
401       198       272               51.619500
402       198       273               51.629901
403       224       260               51.663100
404       245       272               51.609102
405        13       279               51.592201

[406 rows x 3 columns]

We decided to implement Kruskal's algorithm to determine the minimum spanning tree using the straight-line distances as weights.
Below code is from Geeks for Geeks

In [159]:
# Class to represent a graph
class Graph:
    def __init__(self, vertices):
        self.V = vertices
        self.graph = []

    # Function to add an edge to graph
    def addEdge(self, u, v, w):
        self.graph.append([u, v, w])

    # A utility function to find set of an element i
    # (truly uses path compression technique)
    def find(self, parent, i):
        if parent[i] != i:

            # Reassignment of node's parent
            # to root node as
            # path compression requires
            parent[i] = self.find(parent, parent[i])
        return parent[i]

    # A function that does union of two sets of x and y
    # (uses union by rank)
    def union(self, parent, rank, x, y):

        # Attach smaller rank tree under root of
        # high rank tree (Union by Rank)
        if rank[x] < rank[y]:
            parent[x] = y
        elif rank[x] > rank[y]:
            parent[y] = x

        # If ranks are same, then make one as root
        # and increment its rank by one
        else:
            parent[y] = x
            rank[x] += 1

    # The main function to construct MST
    # using Kruskal's algorithm
    def KruskalMST(self):

        # This will store the resultant MST
        result = []

        # An index variable, used for sorted edges
        i = 0

        # An index variable, used for result[]
        e = 0

        # Sort all the edges in
        # non-decreasing order of their
        # weight
        self.graph = sorted(self.graph,
                            key=lambda item: item[2])

        parent = []
        rank = []

        # Create V subsets with single elements
        for node in range(self.V):
            parent.append(node)
            rank.append(0)

        # Number of edges to be taken is less than to V-1
        while e < self.V - 1:

            # Pick the smallest edge and increment
            # the index for next iteration
            u, v, w = self.graph[i]
            i = i + 1
            x = self.find(parent, u)
            y = self.find(parent, v)

            # If including this edge doesn't
            # cause cycle, then include it in result
            # and increment the index of result
            # for next edge
            if x != y:
                e = e + 1
                result.append([u, v, w])
                self.union(parent, rank, x, y)
            # Else discard the edge

        minimumCost = 0
        print("Edges in the constructed MST")
        for u, v, weight in result:
            minimumCost += weight
            print("%d -- %d == %d" % (u, v, weight))
        print("Minimum Spanning Tree", minimumCost)

In [163]:
g = Graph(len(stations))

edges = [(int(u), int(v), float(w)) for u, v, w in df_kruskal.values.tolist()]

for u, v, w in edges:
    g.addEdge(u, v, w)

# Run Kruskal's MST
# g.KruskalMST()

Here, we found out that the station IDs are not continuous. There is no station 189! (Station numbers start from 1)
So we decided to create a mapping of index (index of stations.csv) to station numbers.
We grab the number of unique_stations and use them as the number of vertices to construct the graph.

In [164]:
unique_stations = set(df_kruskal["station1"]).union(set(df_kruskal["station2"]))
station_id_map = {station: idx for idx, station in enumerate(sorted(unique_stations))}

g = Graph(len(unique_stations))

edges = [(station_id_map[u], station_id_map[v], float(w)) for u, v, w in df_kruskal.values.tolist()]

for u, v, w in edges:
    g.addEdge(u, v, w)
g.KruskalMST()

Edges in the constructed MST
265 -- 266 == 51
128 -- 266 == 51
84 -- 128 == 51
65 -- 66 == 51
65 -- 84 == 51
20 -- 267 == 51
20 -- 66 == 51
64 -- 96 == 51
18 -- 96 == 51
19 -- 215 == 51
19 -- 64 == 51
14 -- 267 == 51
14 -- 77 == 51
201 -- 215 == 51
62 -- 217 == 51
62 -- 201 == 51
85 -- 151 == 51
77 -- 268 == 51
15 -- 172 == 51
63 -- 105 == 51
68 -- 85 == 51
42 -- 182 == 51
63 -- 134 == 51
68 -- 105 == 51
134 -- 170 == 51
42 -- 217 == 51
42 -- 78 == 51
60 -- 170 == 51
15 -- 90 == 51
97 -- 172 == 51
97 -- 209 == 51
102 -- 108 == 51
198 -- 287 == 51
90 -- 108 == 51
26 -- 199 == 51
60 -- 236 == 51
26 -- 78 == 51
198 -- 268 == 51
42 -- 287 == 51
3 -- 199 == 51
41 -- 182 == 51
119 -- 236 == 51
41 -- 119 == 51
199 -- 290 == 51
173 -- 251 == 51
199 -- 282 == 51
209 -- 273 == 51
245 -- 287 == 51
174 -- 251 == 51
3 -- 69 == 51
50 -- 102 == 51
35 -- 287 == 51
50 -- 213 == 51
31 -- 69 == 51
40 -- 251 == 51
152 -- 245 == 51
154 -- 282 == 51
32 -- 35 == 51
32 -- 163 == 51
40 -- 214 == 51
154 -- 223 == 51
31 -- 202 == 51
163 -- 242 == 51
40 -- 41 == 51
214 -- 274 == 51
67 -- 157 == 51
87 -- 254 == 51
36 -- 299 == 51
22 -- 40 == 51
213 -- 299 == 51
242 -- 293 == 51
223 -- 260 == 51
22 -- 156 == 51
153 -- 273 == 51
228 -- 239 == 51
153 -- 228 == 51
23 -- 155 == 51
152 -- 153 == 51
23 -- 163 == 51
2 -- 261 == 51
1 -- 261 == 51
189 -- 243 == 51
34 -- 243 == 51
135 -- 189 == 51
255 -- 256 == 51
156 -- 231 == 51
67 -- 254 == 51
83 -- 135 == 51
28 -- 83 == 51
11 -- 255 == 51
226 -- 293 == 51
2 -- 155 == 51
53 -- 55 == 51
12 -- 277 == 51
58 -- 238 == 51
12 -- 156 == 51
36 -- 157 == 51
165 -- 261 == 51
83 -- 147 == 51
28 -- 156 == 51
155 -- 166 == 51
43 -- 165 == 51
54 -- 243 == 51
43 -- 160 == 51
12 -- 248 == 51
53 -- 54 == 51
11 -- 55 == 51
58 -- 256 == 51
243 -- 270 == 51
168 -- 238 == 51
24 -- 253 == 51
166 -- 187 == 51
24 -- 160 == 51
277 -- 283 == 51
13 -- 166 == 51
13 -- 91 == 51
196 -- 270 == 51
86 -- 283 == 51
25 -- 272 == 51
47 -- 248 == 51
47 -- 125 == 51
25 -- 258 == 51
196 -- 271 == 51
246 -- 271 == 51
48 -- 86 == 51
6 -- 187 == 51
48 -- 195 == 51
122 -- 144 == 51
59 -- 150 == 51
48 -- 150 == 51
91 -- 144 == 51
125 -- 257 == 51
106 -- 271 == 51
297 -- 298 == 51
229 -- 298 == 51
125 -- 221 == 51
106 -- 132 == 51
38 -- 144 == 51
227 -- 234 == 51
101 -- 257 == 51
190 -- 195 == 51
94 -- 122 == 51
227 -- 271 == 51
132 -- 145 == 51
27 -- 106 == 51
79 -- 229 == 51
88 -- 275 == 51
9 -- 127 == 51
101 -- 275 == 51
89 -- 103 == 51
27 -- 161 == 51
222 -- 258 == 51
190 -- 210 == 51
89 -- 144 == 51
88 -- 169 == 51
193 -- 203 == 51
9 -- 94 == 51
95 -- 193 == 51
39 -- 88 == 51
10 -- 27 == 51
98 -- 234 == 51
10 -- 82 == 51
94 -- 159 == 51
79 -- 203 == 51
10 -- 162 == 51
95 -- 285 == 51
81 -- 191 == 51
98 -- 121 == 51
73 -- 285 == 51
82 -- 191 == 51
159 -- 264 == 51
148 -- 206 == 51
39 -- 46 == 51
73 -- 291 == 51
94 -- 222 == 51
148 -- 161 == 51
73 -- 98 == 51
10 -- 247 == 51
7 -- 262 == 51
39 -- 138 == 51
191 -- 216 == 51
73 -- 137 == 51
138 -- 262 == 51
17 -- 185 == 51
191 -- 276 == 51
264 -- 301 == 51
121 -- 185 == 51
10 -- 93 == 51
16 -- 291 == 51
16 -- 109 == 51
21 -- 46 == 51
158 -- 276 == 51
216 -- 281 == 51
126 -- 224 == 51
7 -- 123 == 51
126 -- 185 == 51
247 -- 252 == 51
109 -- 207 == 51
109 -- 263 == 51
100 -- 109 == 51
21 -- 110 == 51
30 -- 301 == 51
149 -- 225 == 51
142 -- 158 == 51
146 -- 149 == 51
93 -- 288 == 51
142 -- 204 == 51
224 -- 294 == 51
207 -- 240 == 51
146 -- 281 == 51
8 -- 30 == 51
76 -- 123 == 51
93 -- 280 == 51
140 -- 211 == 51
99 -- 110 == 51
141 -- 288 == 51
107 -- 140 == 51
141 -- 295 == 51
136 -- 296 == 51
136 -- 204 == 51
75 -- 294 == 51
51 -- 263 == 51
186 -- 230 == 51
8 -- 230 == 51
76 -- 92 == 51
107 -- 263 == 51
51 -- 0 == 51
75 -- 180 == 51
180 -- 284 == 51
0 -- 232 == 51
33 -- 99 == 51
70 -- 295 == 51
112 -- 296 == 51
0 -- 72 == 51
70 -- 171 == 51
33 -- 118 == 51
259 -- 300 == 51
56 -- 186 == 51
92 -- 164 == 51
112 -- 244 == 51
92 -- 286 == 51
72 -- 181 == 51
286 -- 300 == 51
29 -- 188 == 51
71 -- 72 == 51
175 -- 232 == 51
181 -- 192 == 51
111 -- 180 == 51
29 -- 175 == 51
120 -- 259 == 51
4 -- 192 == 51
244 -- 279 == 51
111 -- 194 == 51
57 -- 118 == 51
130 -- 188 == 51
129 -- 130 == 51
129 -- 131 == 51
143 -- 280 == 51
4 -- 250 == 51
184 -- 279 == 51
200 -- 280 == 51
37 -- 57 == 51
143 -- 205 == 51
184 -- 235 == 51
37 -- 80 == 51
104 -- 194 == 51
115 -- 117 == 51
139 -- 235 == 51
249 -- 250 == 51
44 -- 205 == 51
177 -- 200 == 51
104 -- 176 == 51
115 -- 116 == 51
115 -- 131 == 51
233 -- 249 == 51
44 -- 241 == 51
114 -- 177 == 51
114 -- 289 == 51
113 -- 139 == 51
114 -- 183 == 51
176 -- 237 == 51
208 -- 233 == 51
183 -- 197 == 51
219 -- 237 == 51
74 -- 220 == 51
74 -- 208 == 51
219 -- 292 == 51
218 -- 220 == 51
124 -- 269 == 51
179 -- 197 == 52
124 -- 133 == 52
133 -- 218 == 52
178 -- 179 == 52
167 -- 178 == 52
61 -- 167 == 52
167 -- 212 == 52
61 -- 278 == 52
52 -- 212 == 52
45 -- 52 == 52
45 -- 49 == 52
5 -- 45 == 52
Minimum Spanning Tree 15556.441005220002

2. Repeat this computation, now using the length of connections provided in the data.

In [165]:
df_kruskal_2 = df[["station1", "station2", "distance(miles)"]].copy()
df_kruskal_2

     station1  station2  distance(miles)
0          11       163         0.257855
1          11       212         0.454449
2          49        87         0.111148
3          49       197         0.426744
4          82       163         0.273407
..        ...       ...              ...
401       198       272         0.412421
402       198       273         0.695057
403       224       260         0.783457
404       245       272         0.957943
405        13       279         1.291628

[406 rows x 3 columns]

In [166]:
unique_stations = set(df_kruskal_2["station1"]).union(set(df_kruskal_2["station2"]))
station_id_map = {station: idx for idx, station in enumerate(sorted(unique_stations))}

g2 = Graph(len(unique_stations))

edges = [(station_id_map[u], station_id_map[v], float(w)) for u, v, w in df_kruskal_2.values.tolist()]

for u, v, w in edges:
    g2.addEdge(u, v, w)
g2.KruskalMST()

Edges in the constructed MST
48 -- 86 == 0
41 -- 119 == 0
41 -- 290 == 0
199 -- 290 == 0
43 -- 160 == 0
43 -- 165 == 0
59 -- 150 == 0
119 -- 236 == 0
26 -- 78 == 0
40 -- 214 == 0
10 -- 162 == 0
62 -- 201 == 0
214 -- 274 == 0
48 -- 150 == 0
81 -- 162 == 0
155 -- 166 == 0
100 -- 225 == 0
3 -- 199 == 0
150 -- 195 == 0
85 -- 151 == 0
134 -- 170 == 0
63 -- 134 == 0
1 -- 261 == 0
88 -- 275 == 0
13 -- 91 == 0
16 -- 291 == 0
101 -- 257 == 0
175 -- 232 == 0
282 -- 290 == 0
101 -- 275 == 0
147 -- 277 == 0
64 -- 96 == 0
73 -- 285 == 0
27 -- 190 == 0
132 -- 145 == 0
40 -- 251 == 0
146 -- 149 == 0
59 -- 125 == 0
246 -- 283 == 0
19 -- 215 == 0
12 -- 166 == 0
68 -- 85 == 0
89 -- 103 == 0
31 -- 69 == 0
240 -- 263 == 0
1 -- 155 == 0
60 -- 170 == 0
150 -- 257 == 0
39 -- 169 == 0
12 -- 248 == 0
19 -- 64 == 0
9 -- 94 == 0
47 -- 125 == 0
32 -- 163 == 0
63 -- 105 == 0
24 -- 160 == 0
98 -- 234 == 0
93 -- 252 == 0
38 -- 127 == 0
218 -- 220 == 0
185 -- 206 == 0
27 -- 161 == 0
60 -- 236 == 0
68 -- 105 == 0
73 -- 291 == 0
62 -- 217 == 0
196 -- 270 == 0
82 -- 191 == 0
13 -- 166 == 0
126 -- 185 == 0
17 -- 185 == 0
165 -- 261 == 0
2 -- 261 == 0
53 -- 54 == 0
106 -- 195 == 0
231 -- 277 == 0
125 -- 221 == 0
138 -- 262 == 0
86 -- 277 == 0
207 -- 240 == 0
86 -- 253 == 0
95 -- 193 == 0
28 -- 156 == 0
93 -- 288 == 0
81 -- 191 == 0
10 -- 210 == 0
129 -- 130 == 0
158 -- 276 == 0
26 -- 199 == 0
86 -- 283 == 0
88 -- 144 == 0
190 -- 257 == 0
83 -- 135 == 0
109 -- 207 == 0
88 -- 169 == 0
142 -- 204 == 0
95 -- 285 == 0
226 -- 293 == 0
24 -- 253 == 0
112 -- 296 == 0
146 -- 281 == 0
90 -- 108 == 0
142 -- 158 == 0
106 -- 132 == 0
223 -- 274 == 0
72 -- 181 == 0
9 -- 127 == 0
70 -- 171 == 0
246 -- 271 == 0
148 -- 206 == 0
16 -- 109 == 0
198 -- 287 == 0
28 -- 83 == 0
166 -- 187 == 0
29 -- 175 == 0
219 -- 237 == 0
224 -- 294 == 0
135 -- 189 == 0
201 -- 215 == 0
2 -- 293 == 0
51 -- 263 == 0
31 -- 202 == 0
12 -- 156 == 0
32 -- 35 == 0
18 -- 96 == 0
100 -- 109 == 0
264 -- 301 == 0
10 -- 103 == 0
42 -- 217 == 0
11 -- 255 == 0
223 -- 293 == 0
42 -- 78 == 0
17 -- 191 == 0
216 -- 281 == 0
22 -- 40 == 0
227 -- 271 == 0
130 -- 188 == 0
126 -- 224 == 0
247 -- 252 == 0
39 -- 46 == 0
184 -- 235 == 0
154 -- 282 == 0
54 -- 243 == 0
286 -- 300 == 0
191 -- 216 == 0
193 -- 203 == 0
7 -- 262 == 0
98 -- 121 == 0
141 -- 288 == 0
92 -- 286 == 0
72 -- 0 == 0
121 -- 185 == 0
89 -- 144 == 0
21 -- 46 == 0
163 -- 242 == 0
58 -- 238 == 0
242 -- 293 == 0
73 -- 98 == 0
124 -- 133 == 0
202 -- 245 == 0
191 -- 276 == 0
94 -- 159 == 0
79 -- 203 == 0
71 -- 72 == 0
33 -- 118 == 0
181 -- 192 == 0
11 -- 55 == 0
255 -- 256 == 0
15 -- 172 == 0
196 -- 271 == 0
74 -- 220 == 0
102 -- 108 == 0
154 -- 223 == 0
75 -- 180 == 0
114 -- 289 == 0
209 -- 273 == 0
73 -- 137 == 0
265 -- 266 == 0
15 -- 90 == 0
141 -- 295 == 0
143 -- 205 == 0
21 -- 110 == 0
128 -- 266 == 0
8 -- 30 == 0
53 -- 55 == 0
34 -- 243 == 0
70 -- 295 == 0
25 -- 258 == 0
184 -- 279 == 0
51 -- 0 == 0
6 -- 144 == 0
58 -- 256 == 0
37 -- 57 == 0
198 -- 268 == 0
114 -- 177 == 0
222 -- 258 == 0
50 -- 102 == 0
223 -- 260 == 0
189 -- 243 == 0
228 -- 239 == 0
35 -- 287 == 0
39 -- 138 == 0
77 -- 268 == 0
56 -- 186 == 0
213 -- 299 == 0
65 -- 66 == 0
116 -- 117 == 0
3 -- 69 == 0
208 -- 289 == 0
129 -- 131 == 0
229 -- 298 == 0
233 -- 249 == 0
20 -- 66 == 0
139 -- 235 == 0
44 -- 241 == 0
92 -- 164 == 0
14 -- 267 == 0
33 -- 99 == 0
37 -- 80 == 0
259 -- 300 == 0
97 -- 209 == 0
200 -- 280 == 0
136 -- 204 == 0
30 -- 301 == 0
71 -- 284 == 0
168 -- 238 == 0
107 -- 263 == 0
79 -- 229 == 0
84 -- 128 == 0
297 -- 298 == 0
23 -- 163 == 0
183 -- 197 == 0
112 -- 244 == 0
7 -- 123 == 0
4 -- 250 == 0
178 -- 179 == 0
25 -- 272 == 0
136 -- 296 == 0
180 -- 284 == 0
152 -- 153 == 0
42 -- 182 == 0
249 -- 250 == 0
44 -- 205 == 1
97 -- 172 == 1
153 -- 228 == 1
244 -- 279 == 1
152 -- 245 == 1
104 -- 194 == 1
76 -- 123 == 1
36 -- 157 == 1
104 -- 176 == 1
186 -- 230 == 1
177 -- 200 == 1
107 -- 140 == 1
153 -- 273 == 1
239 -- 299 == 1
74 -- 208 == 1
113 -- 139 == 1
20 -- 267 == 1
10 -- 247 == 1
208 -- 233 == 1
133 -- 218 == 1
8 -- 230 == 1
4 -- 192 == 1
0 -- 232 == 1
114 -- 183 == 1
140 -- 211 == 1
115 -- 117 == 1
38 -- 144 == 1
61 -- 278 == 1
67 -- 157 == 1
14 -- 77 == 1
174 -- 251 == 1
94 -- 122 == 1
61 -- 167 == 1
99 -- 110 == 1
167 -- 178 == 1
173 -- 251 == 1
219 -- 292 == 1
124 -- 269 == 1
179 -- 197 == 1
57 -- 118 == 1
111 -- 194 == 1
159 -- 264 == 1
176 -- 237 == 1
65 -- 84 == 1
143 -- 280 == 1
36 -- 299 == 1
111 -- 180 == 1
29 -- 188 == 1
120 -- 259 == 1
76 -- 92 == 1
87 -- 254 == 1
115 -- 131 == 1
94 -- 222 == 1
167 -- 212 == 1
67 -- 254 == 1
5 -- 45 == 2
45 -- 52 == 2
52 -- 212 == 2
45 -- 49 == 3
Minimum Spanning Tree 217.38244636916494